<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<servlet>
		<display-name>Valitor Success</display-name>
		<servlet-name>ValitorSuccess</servlet-name>
		<servlet-class>is.idega.idegaweb.pheidippides.servlet.ValitorSuccess</servlet-class>
	</servlet>

	<servlet>
		<display-name>Valitor Gift Card Success</display-name>
		<servlet-name>ValitorGiftCardSuccess</servlet-name>
		<servlet-class>is.idega.idegaweb.pheidippides.servlet.ValitorGiftCardSuccess</servlet-class>
	</servlet>

	<servlet>
		<display-name>Valitor Move Success</display-name>
		<servlet-name>ValitorMoveSuccess</servlet-name>
		<servlet-class>is.idega.idegaweb.pheidippides.servlet.ValitorMoveSuccess</servlet-class>
	</servlet>

	<servlet>
		<display-name>Valitor Cancellation</display-name>
		<servlet-name>ValitorCancel</servlet-name>
		<servlet-class>is.idega.idegaweb.pheidippides.servlet.ValitorCancel</servlet-class>
	</servlet>

	<servlet>
		<display-name>Valitor Gift Card Cancellation</display-name>
		<servlet-name>ValitorCancel</servlet-name>
		<servlet-class>is.idega.idegaweb.pheidippides.servlet.ValitorGiftCardCancel</servlet-class>
	</servlet>

	<servlet>
		<display-name>Valitor Move Cancellation</display-name>
		<servlet-name>ValitorMoveCancel</servlet-name>
		<servlet-class>is.idega.idegaweb.pheidippides.servlet.ValitorMoveCancel</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ValitorSuccess</servlet-name>
		<url-pattern>/valitorSuccess/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ValitorGiftCardSuccess</servlet-name>
		<url-pattern>/valitorGiftCardSuccess/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ValitorMoveSuccess</servlet-name>
		<url-pattern>/valitorMoveSuccess/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ValitorCancel</servlet-name>
		<url-pattern>/valitorCancel/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ValitorGiftCardCancel</servlet-name>
		<url-pattern>/valitorGiftCardCancel/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ValitorMoveCancel</servlet-name>
		<url-pattern>/valitorMoveCancel/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>ValitorFilter</filter-name>
		<filter-class>is.idega.idegaweb.pheidippides.servlet.filter.ValitorFilter</filter-class>
	</filter>

	<filter>
		<filter-name>ValitorGiftCardFilter</filter-name>
		<filter-class>is.idega.idegaweb.pheidippides.servlet.filter.ValitorGiftCardFilter</filter-class>
	</filter>

	<filter>
		<filter-name>RegistrationFilter</filter-name>
		<filter-class>is.idega.idegaweb.pheidippides.servlet.filter.RegistrationFilter</filter-class>
	</filter>

	<filter>
		<filter-name>MyPageFilter</filter-name>
		<filter-class>is.idega.idegaweb.pheidippides.servlet.filter.MyPageFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ValitorFilter</filter-name>
		<url-pattern>/valitor/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ValitorGiftCardFilter</filter-name>
		<url-pattern>/valitorGiftCard/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>RegistrationFilter</filter-name>
		<url-pattern>/registration/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>MyPageFilter</filter-name>
		<url-pattern>/mypage/*</url-pattern>
	</filter-mapping>

</web-app>