/* Admin form */
form.adminForm {
	position: relative;
	margin-bottom: 20px;
}

form.adminForm div.formItem, form.userForm div.formItem {
	width: auto;
	overflow: hidden;
	margin-bottom: 8px;
	clear: both;
}

form.adminForm div.formItem label, form.userForm div.formItem label {
	float: left;
	line-height: 20px;
	font-weight: bold;
	width: 120px;
}

form.userForm div.formItem label {
	width: 160px;
	font-weight: bold;
	line-height: 1.75em;
}

form.adminForm div.formItem input, form.adminForm div.formItem select, form.userForm div.formItem input {
	border: 1px #ccc solid;
	float: left;
}

form.userForm div.formItem input {
	border: 1px #ccc solid;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	padding: 3px 4px;
}

form.userForm div.success {
	border: 2px #0a0 solid;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 12px 12px 12px 36px;
	margin-bottom: 12px;
	background: url(images/paid.png) 12px center no-repeat #cfc;
}

form.adminForm div.submit, form.userForm div.submit {
	width: auto;
	overflow: hidden;
}

form.adminForm div.submit a {
	display: block;
	float: left;
	border: 1px #666 solid;
	background-color: #efefef;
	padding: 3px 10px;
	text-decoration: none;
	color: #666;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

form.userForm div.submit a {
	float: left;
	border: 2px solid #666;
	padding: 8px 12px;
	text-decoration: none;
	background-color: #EFEFEF;
	font-weight: bold;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-size: 14px;
	line-height: 14px;
	color: #a00;
}

/* Admin table */
table.adminTable, table.userTable {
	text-align: left;
}

table.adminTable thead tr th, table.userTable thead tr th {
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	font-weight: bold;
	line-height: 1.25em;
	padding: 4px 5px;
	border-right: 1px #eee solid;
}

table.adminTable tbody tr td, table.userTable tbody tr td {
	border-bottom: 1px #efefef solid;
	line-height: 1.25em;
	padding: 4px 5px;
	border-right: 1px #eee solid;
}

table.adminTable tr .lastColumn, table.userTable tr .lastColumn {
	border-right: 0;
}

table.adminTable tr .action {
	width: 16px;
}

table.adminTable th.header {
	background: url(images/bg.gif) 5px center no-repeat;
	padding-left: 16px;
}

table.adminTable th.headerSortDown {
	background-image: url(images/asc.gif);
	background-color: #eee;
}

table.adminTable th.headerSortUp {
	background-image: url(images/desc.gif);
	background-color: #eee;
}

table.adminTable tbody tr:nth-child(odd) td, table.userTable tbody tr:nth-child(odd) td {
	background-color: #f4f4f4;
}

table.adminTable tbody tr:hover td, table.userTable tbody tr:hover td {
	background-color: #ddd;
}

table.adminTable tbody tr td.discount_true span, table.userTable tbody tr td.OK span, table.userTable tbody tr td.Unconfirmed span {
	display: inline;
	padding-left: 16px;
	height: 16px;
	background: url(images/check.png);
}

table.adminTable tbody tr td a.editItem, table.adminTable tbody tr td a.deleteItem, table.adminTable tbody tr td a.viewItem, table.userTable tbody tr td.action.pdf a {
	display: block;
	width: 16px;
	height: 16px;
	background: url(images/edit.png);
}

table.userTable tbody tr td.action.pdf a {
	text-indent: -9999;
	background-image: url(images/pdf.png);
}

table.adminTable tbody tr td a.editItem span, table.adminTable tbody tr td a.deleteItem span, table.adminTable tbody tr td a.viewItem span {
	display: none;
}

table.adminTable tbody tr td a.deleteItem, table.userTable tbody tr td.Unconfirmed span {
	background-image: url(images/delete.png);
}

table.adminTable tbody tr td a.viewItem {
	background-image: url(images/view.png);
}

a.addItem {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 40px;
	border: 1px #9c9 solid;
	padding: 0 20px 0 46px;
	margin-bottom: 12px;
	font-size: 1.75em;
	text-decoration: none;
	color: #030;
	background: url(images/add.png) 16px center no-repeat #cfc;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

fieldset {
	position: relative;
}

fieldset.formSection.noNavigation legend {
	margin-bottom: 36px;
}

fieldset.navigation legend {
	margin-bottom: 18px;
}

fieldset.navigation div.submit {
	margin-bottom: 18px;
}

fieldset legend {
	font-size: 1.5em;
	font-weight: bold;
	float: left;
}

form.adminForm fieldset.submit {
	margin-top: 24px;
}

form.adminForm fieldset.submit a {
	float: right;
	display: block;
	border: 2px solid #666;
	padding: 10px 16px;
	text-decoration: none;
	background-color: #EFEFEF;
	font-weight: bold;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 1em;
}


/*fieldset label {
	display: block;
	width: auto;
	overflow: hidden;
	margin-bottom: 8px;
}

fieldset label input {
	float: right;
}*/

form.smallAdminForm {
	padding: 15px;
	width: auto;
	overflow: hidden;
}

form.smallAdminForm fieldset {
	width: auto;
	overflow: hidden;
	font-size: 1.25em;
	min-width: 480px;
}

form.smallAdminForm fieldset legend {
	display: none;
}

form.smallAdminForm fieldset div.formItem {
	width: auto;
	overflow: hidden;
	margin-bottom: 8px;
}

form.smallAdminForm fieldset div.formItem label {
	float: left;
	width: 180px;
	font-weight: bold;
	line-height: 30px;
}

form.smallAdminForm fieldset div.formItem.required label:after {
	content: '*';
	color: #a00;
	padding-left: 3px;
}

form.smallAdminForm fieldset div.formItem span {
	line-height: 30px;
}

form.smallAdminForm fieldset div.formItem input, form.smallAdminForm fieldset div.formItem select {
	font-size: 1.25em;
	width: 250px;
	border: 1px #ccc solid;
	padding: 2px 4px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}

form.smallAdminForm fieldset textarea.tinymce {
	border: 1px #ccc solid;
	width: 640px;
	height: 480px;
}

form.smallAdminForm fieldset div.formItem select {
	padding: 0;
}

form.smallAdminForm fieldset.formSection div.formItem select.multiple {
	font-size: 0.75em;
	height: 150px;
}

form.smallAdminForm fieldset div.formItem .error {
	border-color: #a00;
	color: #a00;
}

form.smallAdminForm fieldset div.formItem .error {
	background: url(images/close.png) right center no-repeat;
	padding-right: 32px;
}

form.smallAdminForm fieldset div.formItem label.error {
	display: none !important;
}

form.smallAdminForm fieldset div.formItem.checkbox input {
	float: left;
	margin-left: 0;
	margin-right: 10px;
	margin-top: 8px;
	width: auto;
}

form.smallAdminForm fieldset div.formItem.checkbox label {
	width: auto;
}

form.smallAdminForm div.submit a {
	margin-top: 12px;
	float: left;
	display: block;
	border: 2px solid #666;
	padding: 10px 16px;
	text-decoration: none;
	background-color: #EFEFEF;
	font-weight: bold;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 1.3em;
}

form.smallAdminForm div.submit a.store {
	float: right;
}

form.smallAdminForm div.submit a.close {
	color: #666;
}

form.smallAdminForm table {
	font-size: 0.85em;
}

form.smallAdminForm table thead tr th {
	text-align: left;
}

/* Registration form */
form.registrationForm h1 {
	font-size: 1.5em;
	float: left;
	margin-bottom: 8px;
}

form.registrationForm h2 {
	float: right;
}

form.registrationForm div.helpText, form.registrationForm div.receipt {
	clear: both;
	padding-top: 8px;
	line-height: 1.25em;
}

form.registrationForm div.helpText p, form.registrationForm div.receipt p {
	margin-bottom: 12px;
}

form.registrationForm ul.distances {
	list-style: disc;
	padding-left: 20px;
	margin: 8px 0;
}

form.registrationForm ul.distances p {
	margin-bottom: 3px;
}

form.registrationForm fieldset {
	clear: both;
	font-size: 1.2em;
}

form.registrationForm fieldset.formSection {
	border-top: 1px #ccc solid;
	padding-top: 18px;
	padding-bottom: 10px;
}

form.registrationForm fieldset.formSection div.formItem {
	width: auto;
	margin-bottom: 8px;
	clear: both;
}

form.registrationForm fieldset.formSection div.formItem label {
	float: left;
	font-weight: bold;
	width: 185px;
	line-height: 1.15em;
	margin-bottom: 8px;
}

form.registrationForm fieldset.formSection div.formItem label.error, form.userForm label.error {
	float: none;
	padding-left: 8px;
	font-style: italic;
	display: none !important;
}

form.registrationForm fieldset.formSection div.formItem.required label:not(.error):after {
	content: '*';
	color: #a00;
	padding-left: 4px;
}

form.registrationForm fieldset.formSection div.formItem input, form.registrationForm fieldset.formSection div.formItem select {
	border: 1px #ccc solid;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	padding: 3px 4px;
}

form.registrationForm fieldset.formSection div.formItem.checkbox input {
	float: left;
	margin-right: 8px;
	margin-left: 0;
}

form.registrationForm fieldset.formSection div.formItem.checkbox label {
	width: auto;
	margin-bottom: 0;
}

form.registrationForm fieldset.formSection div.formItem .error, form.userForm div.formItem .error {
	border-color: #a00;
	color: #a00;
	background: url(images/close.png) right center no-repeat;
	padding-right: 32px;
}

form.registrationForm fieldset.formSection table {
	font-size: 0.85em;
}

form.registrationForm fieldset.formSection table tr.relayPartner {
	font-size: 0.9em;
}

form.registrationForm fieldset.formSection table tr.relayPartner td.firstColumn {
	padding-left: 14px;
}

form.registrationForm fieldset.formSection thead tr th {
	text-align: left;
	padding: 2px 3px;
}

form.registrationForm fieldset.formSection tbody tr td {
	padding: 2px 3px;
}

form.registrationForm fieldset.submit {
	margin-top: 24px;
}

form.registrationForm fieldset.submit a {
	float: left;
	display: block;
	border: 2px solid #666;
	padding: 10px 16px;
	text-decoration: none;
	background-color: #EFEFEF;
	font-weight: bold;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 1em;
}

form.registrationForm fieldset.submit a.next, form.registrationForm fieldset.submit a.valitor {
	float: right;
	margin-left: 4px;
}

form.registrationForm fieldset.formSection div.formItem input[name="prm_name"], form.registrationForm fieldset.formSection div.formItem input[name="prm_address"] {
	width: 350px;
}

div.ui-datepicker {
	overflow: visible !important;
    z-index: 1102 !important;
}

/* Participant counter */
div.participantCounter {
	padding-top: 24px;
}

div.participantCounter h2 {
	font-size: 1.3em;
	margin-bottom: 12px;
}

div.participantCounter h3 {
	font-size: 1.1em;
	margin-bottom: 9px;
}

div.participantCounter dl {
	margin-bottom: 18px;
	width: auto;
	overflow: hidden;
	padding-left: 12px;
}

div.participantCounter dl dt {
	font-size: 1em;
	float: left;
	width: 165px;
	font-weight: bold;
	margin-bottom: 6px;
	clear: left;
}

div.participantCounter dl dd {
	float: left;
}

/* Printout */
div.printout {
	width: auto;
	overflow: hidden;
}

div.printout a {
	text-indent: -1999px;
	width: 40px;
	height: 40px;
	float: right;
	display: block;
	background: url(images/excel_icon.gif) no-repeat;
}

/* Transfer payment form */
form#transferPaymentForm span.action {
	display: block;
	height: 16px;
	width: 16px;
	background: url(images/none.png) no-repeat;
}

form#transferPaymentForm span.action[rel="paid"] {
	background-image: url(images/paid.png);
}

form#transferPaymentForm span.action[rel="free"] {
	background-image: url(images/free.png);
}

form#transferPaymentForm span.action[rel="delete"] {
	background-image: url(images/remove.png);
}